In [1]:
# importing required libraries 

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import numpy as np
from sklearn.model_selection import train_test_split
import warnings
warnings.simplefilter("ignore")
pd.set_option('display.max_columns', None)

In [4]:
result_df = pd.read_csv('f1/results.csv')
stats_df = pd.read_csv('f1/status.csv')
drivers_df = pd.read_csv('f1/drivers.csv')
races_df = pd.read_csv('f1/races.csv')
constructor_df = pd.read_csv('f1/constructors.csv')
driver_standings_df = pd.read_csv('f1/driver_standings.csv')
pd.get_option('display.max_columns', None)

In [5]:
races_df = races_df.raceId.astype(int)
con1 = pd.merge(result_df, races_df, on ='raceId')
con2 = pd.merge(con1, drivers_df, on = 'driverId')
con3 = pd.merge(con2, driver_standings_df, on = 'driverId')
con4 = pd.merge(con3, constructor_df, on ='constructorId')
df = pd.merge(con4, stats_df, on ='statusId')
pd.get_option("display.max_columns",None)
df.head()

,resultId,raceId_x,driverId,constructorId,number_x,grid,position_x,positionText_x,positionOrder,points_x,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,driverRef,number_y,code,forename,surname,dob,nationality_x,url_x,driverStandingsId,raceId_y,points_y,position_y,positionText_y,wins,constructorRef,name,nationality_y,url_y,status
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,1,18,10.0,1,1,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,Finished
1,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,9,19,14.0,1,1,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,Finished
2,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,27,20,14.0,3,3,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,Finished
3,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,48,21,20.0,2,2,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,Finished
4,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,69,22,28.0,3,3,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,Finished

In [7]:
# mencari nilai null dalam dataset
df.isnull().sum()

resultId             0
raceId_x             0
driverId             0
constructorId        0
number_x             0
grid                 0
position_x           0
positionText_x       0
positionOrder        0
points_x             0
laps                 0
time                 0
milliseconds         0
fastestLap           0
rank                 0
fastestLapTime       0
fastestLapSpeed      0
statusId             0
driverRef            0
number_y             0
code                 0
forename             0
surname              0
dob                  0
nationality_x        0
url_x                0
driverStandingsId    0
raceId_y             0
points_y             0
position_y           0
positionText_y       0
wins                 0
constructorRef       0
name                 0
nationality_y        0
url_y                0
status               0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3537627 entries, 0 to 3537626
Data columns (total 37 columns):
 #   Column             Dtype
---  ------             -----
 0   resultId           int64
 1   raceId_x           int64
 2   driverId           int64
 3   constructorId      int64
 4   number_x           object
 5   grid               int64
 6   position_x         object
 7   positionText_x     object
 8   positionOrder      int64
 9   points_x           float64
 10  laps               int64
 11  time               object
 12  milliseconds       object
 13  fastestLap         object
 14  rank               object
 15  fastestLapTime     object
 16  fastestLapSpeed    object
 17  statusId           int64
 18  driverRef          object
 19  number_y           object
 20  code               object
 21  forename           object
 22  surname            object
 23  dob                object
 24  nationality_x      object
 25  url_x              object
 26  driverStandingsId  int64
 27  raceId_y           int64
 28  points_y           float64
 29  position_y         int64
 30  positionText_y     object
 31  wins               int64
 32  constructorRef     object
 33  name               object
 34  nationality_y      object
 35  url_y              object
 36  status             object
dtypes: float64(2), int64(12), object(23)
memory usage: 998.6+ MB

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
resultId,3537627.0,12630.091396,8209.508032,1.0,5125.0,11763.0,21140.0,26085.0
raceId_x,3537627.0,517.066570,331.536193,1.0,234.0,467.0,856.0,1110.0
driverId,3537627.0,204.182795,265.852299,1.0,20.0,105.0,229.0,858.0
constructorId,3537627.0,39.412151,56.860468,1.0,6.0,16.0,37.0,214.0
grid,3537627.0,9.763203,6.557031,0.0,4.0,9.0,15.0,34.0
positionOrder,3537627.0,11.229562,7.378775,1.0,5.0,10.0,17.0,39.0
points_x,3537627.0,2.998598,5.334331,0.0,0.0,0.0,4.0,50.0
laps,3537627.0,48.362040,25.123229,0.0,32.0,55.0,67.0,200.0
statusId,3537627.0,13.238133,22.544512,1.0,1.0,5.0,12.0,141.0
driverStandingsId,3537627.0,40117.463301,25309.272186,1.0,13856.0,49960.0,65824.0,72187.0
raceId_y,3537627.0,519.330155,331.962602,1.0,238.0,470.0,857.0,1110.0
points_y,3537627.0,28.391002,52.047553,0.0,1.0,8.0,31.0,454.0
position_y,3537627.0,11.654836,9.133026,1.0,5.0,10.0,16.0,108.0
wins,3537627.0,0.551738,1.452231,0.0,0.0,0.0,0.0,15.0

In [15]:
df = df.drop(['url_y','url_x','position_x','fastestLapTime','positionText_x','time','driverRef',
              'constructorRef','nationality_y','positionText_y','raceId_y','points_y'],axis=1)

In [17]:
col_name = {'number_x':'number',
            'milliseconds':'timetaken_in_millisec',
            'fastestLapSpeed':'max_speed',
            'name_x':'grand_prix',
            'number_y':'driver_num',
            'code':'driver_code',
            'nationality_x':'nationality',
            'name_y':'company',
            'raceId_x':'racerId',
            'points_x':'points',
            'position_y':'position'}

df.rename(columns=col_name,inplace=True)
df['driver_name'] = df['forename']+' '+df['surname']
df = df.drop(['forename','surname'],axis=1)
df.head()

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,fastestLap,rank,max_speed,statusId,driver_num,driver_code,dob,nationality,driverStandingsId,position,wins,name,status,driver_name
0,1,18,1,1,22,1,1,10.0,58,5690616,39,2,218.300,1,44,HAM,1985-01-07,British,1,1,1,McLaren,Finished,Lewis Hamilton
1,1,18,1,1,22,1,1,10.0,58,5690616,39,2,218.300,1,44,HAM,1985-01-07,British,9,1,1,McLaren,Finished,Lewis Hamilton
2,1,18,1,1,22,1,1,10.0,58,5690616,39,2,218.300,1,44,HAM,1985-01-07,British,27,3,1,McLaren,Finished,Lewis Hamilton
3,1,18,1,1,22,1,1,10.0,58,5690616,39,2,218.300,1,44,HAM,1985-01-07,British,48,2,1,McLaren,Finished,Lewis Hamilton
4,1,18,1,1,22,1,1,10.0,58,5690616,39,2,218.300,1,44,HAM,1985-01-07,British,69,3,1,McLaren,Finished,Lewis Hamilton

In [18]:
df['dob'] = pd.to_datetime(df['dob'])

In [19]:
from datetime import datetime
dates = datetime.today()-df['dob']
age = dates.dt.days/365
df['age'] = round(age)
pd.set_option('display.max_columns', None)
df.head()

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,fastestLap,rank,max_speed,statusId,driver_num,driver_code,dob,nationality,driverStandingsId,position,wins,name,status,driver_name,age
0,1,18,1,1,22,1,1,10.0,58,5690616,39,2,218.300,1,44,HAM,1985-01-07,British,1,1,1,McLaren,Finished,Lewis Hamilton,39.0
1,1,18,1,1,22,1,1,10.0,58,5690616,39,2,218.300,1,44,HAM,1985-01-07,British,9,1,1,McLaren,Finished,Lewis Hamilton,39.0
2,1,18,1,1,22,1,1,10.0,58,5690616,39,2,218.300,1,44,HAM,1985-01-07,British,27,3,1,McLaren,Finished,Lewis Hamilton,39.0
3,1,18,1,1,22,1,1,10.0,58,5690616,39,2,218.300,1,44,HAM,1985-01-07,British,48,2,1,McLaren,Finished,Lewis Hamilton,39.0
4,1,18,1,1,22,1,1,10.0,58,5690616,39,2,218.300,1,44,HAM,1985-01-07,British,69,3,1,McLaren,Finished,Lewis Hamilton,39.0

In [21]:
l = ['number','timetaken_in_millisec','fastestLap','rank','max_speed','driver_num']
for i in l:
    df[i] = pd.to_numeric(df[i],errors='coerce')
df.drop('driver_num',axis=1,inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3537627 entries, 0 to 3537626
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   resultId               int64
 1   racerId                int64
 2   driverId               int64
 3   constructorId          int64
 4   number                 float64
 5   grid                   int64
 6   positionOrder          int64
 7   points                 float64
 8   laps                   int64
 9   timetaken_in_millisec  float64
 10  fastestLap             float64
 11  rank                   float64
 12  max_speed              float64
 13  statusId               int64
 14  driver_code            object
 15  dob                    datetime64[ns]
 16  nationality            object
 17  driverStandingsId      int64
 18  position               int64
 19  wins                   int64
 20  name                   object
 21  status                 object
 22  driver_name            object
 23  age                    float64
dtypes: datetime64[ns](1), float64(7), int64(11), object(5)
memory usage: 647.8+ MB

In [23]:
cat = []
num = []
for i in df.columns:
    if df[i].dtypes == 'O':
        cat.append(i)
    else:
        num.append(i)

In [29]:
df[cat]

        driver_code nationality     name    status     driver_name
0               HAM     British  McLaren  Finished  Lewis Hamilton
1               HAM     British  McLaren  Finished  Lewis Hamilton
2               HAM     British  McLaren  Finished  Lewis Hamilton
3               HAM     British  McLaren  Finished  Lewis Hamilton
4               HAM     British  McLaren  Finished  Lewis Hamilton
...             ...         ...      ...       ...             ...
3537622          \N    American    Deidt  +20 Laps    Duane Carter
3537623          \N    American    Deidt  +20 Laps    Duane Carter
3537624          \N    American    Deidt  +20 Laps    Duane Carter
3537625          \N    American    Deidt  +20 Laps    Duane Carter
3537626          \N    American    Deidt  +20 Laps    Duane Carter

[3537627 rows x 5 columns]

In [25]:
df[num].head()

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,fastestLap,rank,max_speed,statusId,dob,driverStandingsId,position,wins,age
0,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,1985-01-07,1,1,1,39.0
1,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,1985-01-07,9,1,1,39.0
2,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,1985-01-07,27,3,1,39.0
3,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,1985-01-07,48,2,1,39.0
4,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,1985-01-07,69,3,1,39.0

In [26]:
df.isnull().sum() / len(df) * 100

resultId                  0.000000
racerId                   0.000000
driverId                  0.000000
constructorId             0.000000
number                    0.004523
grid                      0.000000
positionOrder             0.000000
points                    0.000000
laps                      0.000000
timetaken_in_millisec    61.421936
fastestLap               60.511100
rank                     59.513764
max_speed                60.511100
statusId                  0.000000
driver_code               0.000000
dob                       0.000000
nationality               0.000000
driverStandingsId         0.000000
position                  0.000000
wins                      0.000000
name                      0.000000
status                    0.000000
driver_name               0.000000
age                       0.000000
dtype: float64

In [27]:
df[['rank','fastestLap']] = df[['rank','fastestLap']].fillna(0)
df['timetaken_in_millisec'] = df['timetaken_in_millisec'].fillna(df['timetaken_in_millisec'].mean())
df['max_speed']= df['max_speed'].fillna(df['max_speed'].mean())
df['number'] = df['number'].fillna(0)

In [28]:
df.isnull().sum() / len(df) * 100

resultId                 0.0
racerId                  0.0
driverId                 0.0
constructorId            0.0
number                   0.0
grid                     0.0
positionOrder            0.0
points                   0.0
laps                     0.0
timetaken_in_millisec    0.0
fastestLap               0.0
rank                     0.0
max_speed                0.0
statusId                 0.0
driver_code              0.0
dob                      0.0
nationality              0.0
driverStandingsId        0.0
position                 0.0
wins                     0.0
name                     0.0
status                   0.0
driver_name              0.0
age                      0.0
dtype: float64

In [30]:
df_filtered = df[df['status'] == "Finished"]
df_filtered.tail()

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,fastestLap,rank,max_speed,statusId,driver_code,dob,nationality,driverStandingsId,position,wins,name,status,driver_name,age
1363657,23346,967,839,209,31.0,22,12,0.0,71,10907144.0,47.0,16.0,176.686,1,OCO,1996-09-17,French,72083,9,0,Manor Marussia,Finished,Esteban Ocon,28.0
1363658,23346,967,839,209,31.0,22,12,0.0,71,10907144.0,47.0,16.0,176.686,1,OCO,1996-09-17,French,72123,9,0,Manor Marussia,Finished,Esteban Ocon,28.0
1363659,23346,967,839,209,31.0,22,12,0.0,71,10907144.0,47.0,16.0,176.686,1,OCO,1996-09-17,French,72143,10,0,Manor Marussia,Finished,Esteban Ocon,28.0
1363660,23346,967,839,209,31.0,22,12,0.0,71,10907144.0,47.0,16.0,176.686,1,OCO,1996-09-17,French,72163,10,0,Manor Marussia,Finished,Esteban Ocon,28.0
1363661,23346,967,839,209,31.0,22,12,0.0,71,10907144.0,47.0,16.0,176.686,1,OCO,1996-09-17,French,72184,10,0,Manor Marussia,Finished,Esteban Ocon,28.0

In [32]:
mean_maxSpeed = df.max_speed.mean()
mean_fastestLap = df.fastestLap.mean()
df = df_filtered[df_filtered['max_speed']>mean_maxSpeed]
df.head()

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,fastestLap,rank,max_speed,statusId,driver_code,dob,nationality,driverStandingsId,position,wins,name,status,driver_name,age
0,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,HAM,1985-01-07,British,1,1,1,McLaren,Finished,Lewis Hamilton,39.0
1,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,HAM,1985-01-07,British,9,1,1,McLaren,Finished,Lewis Hamilton,39.0
2,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,HAM,1985-01-07,British,27,3,1,McLaren,Finished,Lewis Hamilton,39.0
3,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,HAM,1985-01-07,British,48,2,1,McLaren,Finished,Lewis Hamilton,39.0
4,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,HAM,1985-01-07,British,69,3,1,McLaren,Finished,Lewis Hamilton,39.0

In [33]:
df[df['fastestLap']>mean_fastestLap]

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,fastestLap,rank,max_speed,statusId,driver_code,dob,nationality,driverStandingsId,position,wins,name,status,driver_name,age
0,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.300,1,HAM,1985-01-07,British,1,1,1,McLaren,Finished,Lewis Hamilton,39.0
1,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.300,1,HAM,1985-01-07,British,9,1,1,McLaren,Finished,Lewis Hamilton,39.0
2,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.300,1,HAM,1985-01-07,British,27,3,1,McLaren,Finished,Lewis Hamilton,39.0
3,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.300,1,HAM,1985-01-07,British,48,2,1,McLaren,Finished,Lewis Hamilton,39.0
4,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.300,1,HAM,1985-01-07,British,69,3,1,McLaren,Finished,Lewis Hamilton,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363488,26042,1108,856,213,21.0,18,17,0.0,52,5150066.0,48.0,18.0,229.636,1,DEV,1995-02-06,Dutch,72079,19,0,AlphaTauri,Finished,Nyck de Vries,29.0
1363489,26042,1108,856,213,21.0,18,17,0.0,52,5150066.0,48.0,18.0,229.636,1,DEV,1995-02-06,Dutch,72119,20,0,AlphaTauri,Finished,Nyck de Vries,29.0
1363490,26042,1108,856,213,21.0,18,17,0.0,52,5150066.0,48.0,18.0,229.636,1,DEV,1995-02-06,Dutch,72139,20,0,AlphaTauri,Finished,Nyck de Vries,29.0
1363491,26042,1108,856,213,21.0,18,17,0.0,52,5150066.0,48.0,18.0,229.636,1,DEV,1995-02-06,Dutch,72159,20,0,AlphaTauri,Finished,Nyck de Vries,29.0
1363492,26042,1108,856,213,21.0,18,17,0.0,52,5150066.0,48.0,18.0,229.636,1,DEV,1995-02-06,Dutch,72180,20,0,AlphaTauri,Finished,Nyck de Vries,29.0

In [34]:
df = df[df['age']<df['age'].mean()]
df.head()

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,fastestLap,rank,max_speed,statusId,driver_code,dob,nationality,driverStandingsId,position,wins,name,status,driver_name,age
0,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,HAM,1985-01-07,British,1,1,1,McLaren,Finished,Lewis Hamilton,39.0
1,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,HAM,1985-01-07,British,9,1,1,McLaren,Finished,Lewis Hamilton,39.0
2,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,HAM,1985-01-07,British,27,3,1,McLaren,Finished,Lewis Hamilton,39.0
3,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,HAM,1985-01-07,British,48,2,1,McLaren,Finished,Lewis Hamilton,39.0
4,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,1,HAM,1985-01-07,British,69,3,1,McLaren,Finished,Lewis Hamilton,39.0

In [37]:
df.drop('dob',axis=1,inplace=True)
df.drop('statusId',axis=1,inplace=True)

KeyError: "['dob'] not found in axis"

In [38]:
df.head()

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,fastestLap,rank,max_speed,driver_code,nationality,driverStandingsId,position,wins,name,status,driver_name,age
0,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,HAM,British,1,1,1,McLaren,Finished,Lewis Hamilton,39.0
1,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,HAM,British,9,1,1,McLaren,Finished,Lewis Hamilton,39.0
2,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,HAM,British,27,3,1,McLaren,Finished,Lewis Hamilton,39.0
3,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,HAM,British,48,2,1,McLaren,Finished,Lewis Hamilton,39.0
4,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.3,HAM,British,69,3,1,McLaren,Finished,Lewis Hamilton,39.0

In [39]:
df.skew()

TypeError: could not convert string to float: 'HAM'

,resultId,racerId,driverId,constructorId,number,grid,positionOrder,points,laps,timetaken_in_millisec,fastestLap,rank,max_speed,driver_code,nationality,driverStandingsId,position,wins,name,status,driver_name,age
0,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.300,HAM,British,1,1,1,McLaren,Finished,Lewis Hamilton,39.0
1,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.300,HAM,British,9,1,1,McLaren,Finished,Lewis Hamilton,39.0
2,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.300,HAM,British,27,3,1,McLaren,Finished,Lewis Hamilton,39.0
3,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.300,HAM,British,48,2,1,McLaren,Finished,Lewis Hamilton,39.0
4,1,18,1,1,22.0,1,1,10.0,58,5690616.0,39.0,2.0,218.300,HAM,British,69,3,1,McLaren,Finished,Lewis Hamilton,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363488,26042,1108,856,213,21.0,18,17,0.0,52,5150066.0,48.0,18.0,229.636,DEV,Dutch,72079,19,0,AlphaTauri,Finished,Nyck de Vries,29.0
1363489,26042,1108,856,213,21.0,18,17,0.0,52,5150066.0,48.0,18.0,229.636,DEV,Dutch,72119,20,0,AlphaTauri,Finished,Nyck de Vries,29.0
1363490,26042,1108,856,213,21.0,18,17,0.0,52,5150066.0,48.0,18.0,229.636,DEV,Dutch,72139,20,0,AlphaTauri,Finished,Nyck de Vries,29.0
1363491,26042,1108,856,213,21.0,18,17,0.0,52,5150066.0,48.0,18.0,229.636,DEV,Dutch,72159,20,0,AlphaTauri,Finished,Nyck de Vries,29.0
1363492,26042,1108,856,213,21.0,18,17,0.0,52,5150066.0,48.0,18.0,229.636,DEV,Dutch,72180,20,0,AlphaTauri,Finished,Nyck de Vries,29.0